{% extends "::base.html.twig" %}

{% block title %}Cinémarathon.ch{% endblock %}

{% block home_class %}active{% endblock %}

{% import 'MOMovieBundle:Macros:serie.html.twig' as seriesMacro %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Quelques recommandations</h4>
        </div>
        <div class="panel-body">
            <div id="carousel-series" class="carousel slide home" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for serie in serieTeaser %}
                        <li data-target="#carousel-series" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for serie in serieTeaser %}
                        <div class="item {% if loop.first %}active{% endif %}">
                            <div class="content-serie col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                                {{ seriesMacro.displaySerie(serie) }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-series" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-series" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Chercher une série de films</h4>
        </div>
        <div class="panel-body">
            {% include 'MOMovieBundle:Form:searchForm.html.twig' with {'form' : form} %}
        </div>
    </div>

{% endblock %}
