parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            fr
    secret:            superSecretToken123456789asdf


    app.cities.default: lausanne
    app.cities.route_requirement: lausanne|geneve|bern|basel
    app.cities.codes.lausanne:  20
    app.cities.codes.geneve:    23
    app.cities.codes.bern:     21
    app.cities.codes.basel:      22