@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One|Oswald);


body {
    padding-top: 50px;
    /*font-family: 'Oswald', sans-serif;*/
}

.main-title, .navbar {
    font-family: 'Racing Sans One', cursive;
}

.carousel.home .carousel-inner {
    background: #808080;
}

.carousel.home .carousel-inner .content-serie {
    padding-top: 20px;
    padding-bottom: 50px;
}